/* Contenedor principal */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
}

.input-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

input[type="text"] {
  width: 80%;
  max-width: 600px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.4);
}

/* Contenedor de juegos */
.lugares-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

/* Estilo del enlace */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  transform: scale(1.03);
  transition: all 0.3s ease-in-out;
}
